{% import "macros/header.html" as header %}

<html>
    <head>
        <link rel="stylesheet" href="/static/stylesheets/application.css">
        <link rel="stylesheet" href="/static/stylesheets/home.css">
    </head>
    <body>
        {{header.header()}}
        <div class="notification">
            <div class="image">
            </div>
            <div class="info">
                <h3>There is a new data standard for Conservation Area</h3>
                <h4>You will have received an email alert for this.</h4>
            </div>
            <a href="#">Read more</a>
        </div>
        <div class="welcome">
            <div class="imageContainer">
                <img src="/static/images/welcomeImage.png" class="image"/>
            </div>
            <div class="message">
                <p>Good morning Jeremy</p>
                <p>Plymouth City Council planning data</p>
            </div>
        </div>
        <div class="main">
            <div class="section">
                <div>
                    <h4>Check your data</h4>
                    <p>Find out if your data meets the standards set by DLUHC and get recommendations on how to improve your data.</p>
                    <a href="/validation/upload">
                        Start now
                    </a>
                </div>
                <div>

                </div>
            </div>
        </div>
    </body>
</html>