{% macro header() %}
    <div class="topBanner">
        <div class="header">
            <h2>Engagement platform</h2>
        </div>
    </div>
{% endmacro %}

{% macro notification() %}
    <div class="notification">
        <div class="image">
        </div>
        <div class="info">
            <h3>There is a new data standard for Conservation Area</h3>
            <h4>You will have received an email alert for this.</h4>
        </div>
        <a href="#">Read more</a>
    </div>
{% endmacro %}

{% macro welcome() %}
    <div class="welcome">
        <div class="imageContainer">
            <img src="/static/images/welcomeImage.png" class="image"/>
        </div>
        <div class="message">
            <p>Good morning Jeremy</p>
            <p>Plymouth City Council planning data</p>
        </div>
    </div>
{% endmacro %}