.notification{
    background-color: #0F766E;
    color: white;
    padding: 0.1em 1em;

    h3 , h4 {
        margin: 0px;
        font-weight: 400;
    }
}

.info{

}



.image{

}





.section{

}
