.notification{
    background-color: #0F766E;
    color: white;
    padding: 0.1em 1em;

    h3 , h4 {
        margin: 0px;
        font-weight: 400;
    }
}

.info{

}

.welcome{
    position: relative;
    height: 300px;
    width: 100%;

    .imageContainer{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        .image{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .message{
        position: absolute;
        bottom: 10%;
        left: 10%;
        background-color: white;
        p {
            margin: 5px 5px;
            font-size: 20px;
            font-weight: bolder;
        }
    }

}

.image{

}



.main{
    margin: 1em 2em;
}

.section{

}
