{% from "tableRow.html" import tableRow %}

<html>
    <head>
        <link rel="stylesheet" href="/static/stylesheets/application.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
        crossorigin=""></script>
        <script>
            const initMap = (id, Geometry, centre_x, centre_y, bounds) => {
                console.log(`init ${id}`);
                var map = L.map(`${id}`, {
                    attributionControl: false, 
                    zoomControl: false,    
                    dragging: false,
                    scrollWheelZoom: 'center'
                }).setView([centre_x, centre_y], 12);
                map.dragging.disable();
                map.touchZoom.disable();
                map.doubleClickZoom.disable();
                map.scrollWheelZoom.disable();
                map.boxZoom.disable();
                map.keyboard.disable();
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);
                map.fitBounds(JSON.parse(bounds))
                console.log(Geometry)
                var polygon = L.geoJSON(
                    {
                        "type": "Polygon",
                        "coordinates": JSON.parse(Geometry)
                    }).addTo(map);
                console.log('done');
            }
        </script>
    </head>
    <body>
        <h1>{{content['title']}}</h1>
        {{content['description'] | safe}}
        <div>
            <div>
                <div class="table">
                    {% for row in data %}
                        {{ tableRow(row) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>