<html>
    <head>
        <link rel="stylesheet" href="/static/stylesheets/application.css">
    </head>
    <h1>Validate your data</h1>
    <div>
        <div>
            <h2>Good table</h2>
            <div class="table">
                <div class="table-row header-row">
                    <div class="table-column">
                        Row Number
                    </div>
                    <div class="table-column">
                        conservation-area 
                    </div>
                    <div class="table-column">
                        categories
                    </div>
                    <div class="table-column">
                        documentation-url
                    </div>
                    <div class="table-column">
                        entity
                    </div>
                    <div class="table-column">
                        geometry
                    </div>
                    <div class="table-column">
                        legislation
                    </div>
                    <div class="table-column">
                        name
                    </div>
                    <div class="table-column">
                        notes
                    </div>
                    <div class="table-column">
                        organisation
                    </div>
                    <div class="table-column">
                        point
                    </div>
                    <div class="table-column">
                        prefix
                    </div>
                    <div class="table-column">
                        reference
                    </div>
                    <div class="table-column">
                        entry-date
                    </div>
                    <div class="table-column">
                        start-date
                    </div>
                    <div class="table-column">
                        end-date
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-column">
                        Row Number
                    </div>
                    <div class="table-column">
                        conservation-area 
                    </div>
                    <div class="table-column">
                        categories
                    </div>
                    <div class="table-column">
                        documentation-url
                    </div>
                    <div class="table-column">
                        entity
                    </div>
                    <div class="table-column">
                        geometry
                    </div>
                    <div class="table-column">
                        legislation
                    </div>
                    <div class="table-column">
                        name
                    </div>
                    <div class="table-column">
                        notes
                    </div>
                    <div class="table-column">
                        organisation
                    </div>
                    <div class="table-column">
                        point
                    </div>
                    <div class="table-column">
                        prefix
                    </div>
                    <div class="table-column">
                        reference
                    </div>
                    <div class="table-column">
                        entry-date
                    </div>
                    <div class="table-column">
                        start-date
                    </div>
                    <div class="table-column">
                        end-date
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-column">
                        Row Number
                    </div>
                    <div class="table-column">
                        conservation-area 
                    </div>
                    <div class="table-column">
                        categories
                    </div>
                    <div class="table-column">
                        documentation-url
                    </div>
                    <div class="table-column">
                        entity
                    </div>
                    <div class="table-column">
                        geometry
                    </div>
                    <div class="table-column">
                        legislation
                    </div>
                    <div class="table-column">
                        name
                    </div>
                    <div class="table-column">
                        notes
                    </div>
                    <div class="table-column">
                        organisation
                    </div>
                    <div class="table-column">
                        point
                    </div>
                    <div class="table-column">
                        prefix
                    </div>
                    <div class="table-column">
                        reference
                    </div>
                    <div class="table-column">
                        entry-date
                    </div>
                    <div class="table-column">
                        start-date
                    </div>
                    <div class="table-column">
                        end-date
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-column">
                        Row Number
                    </div>
                    <div class="table-column">
                        conservation-area 
                    </div>
                    <div class="table-column">
                        categories
                    </div>
                    <div class="table-column">
                        documentation-url
                    </div>
                    <div class="table-column">
                        entity
                    </div>
                    <div class="table-column">
                        geometry
                    </div>
                    <div class="table-column">
                        legislation
                    </div>
                    <div class="table-column">
                        name
                    </div>
                    <div class="table-column">
                        notes
                    </div>
                    <div class="table-column">
                        organisation
                    </div>
                    <div class="table-column">
                        point
                    </div>
                    <div class="table-column">
                        prefix
                    </div>
                    <div class="table-column">
                        reference
                    </div>
                    <div class="table-column">
                        entry-date
                    </div>
                    <div class="table-column">
                        start-date
                    </div>
                    <div class="table-column">
                        end-date
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-column">
                        Row Number
                    </div>
                    <div class="table-column">
                        conservation-area 
                    </div>
                    <div class="table-column">
                        categories
                    </div>
                    <div class="table-column">
                        documentation-url
                    </div>
                    <div class="table-column">
                        entity
                    </div>
                    <div class="table-column">
                        geometry
                    </div>
                    <div class="table-column">
                        legislation
                    </div>
                    <div class="table-column">
                        name
                    </div>
                    <div class="table-column">
                        notes
                    </div>
                    <div class="table-column">
                        organisation
                    </div>
                    <div class="table-column">
                        point
                    </div>
                    <div class="table-column">
                        prefix
                    </div>
                    <div class="table-column">
                        reference
                    </div>
                    <div class="table-column">
                        entry-date
                    </div>
                    <div class="table-column">
                        start-date
                    </div>
                    <div class="table-column">
                        end-date
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2>Bad table</h2>
            <div class="table">
                <div class="table-row header-row">
                    <div class="table-column">
                        Row Number
                    </div>
                    <div class="table-column">
                        conservation-area 
                    </div>
                    <div class="table-column">
                        categories
                    </div>
                    <div class="table-column">
                        documentation-url
                    </div>
                    <div class="table-column">
                        entity
                    </div>
                    <div class="table-column">
                        geometry
                    </div>
                    <div class="table-column">
                        legislation
                    </div>
                    <div class="table-column">
                        name
                    </div>
                    <div class="table-column">
                        notes
                    </div>
                    <div class="table-column">
                        organisation
                    </div>
                    <div class="table-column">
                        point
                    </div>
                    <div class="table-column">
                        prefix
                    </div>
                    <div class="table-column">
                        reference
                    </div>
                    <div class="table-column">
                        entry-date
                    </div>
                    <div class="table-column">
                        start-date
                    </div>
                    <div class="table-column">
                        end-date
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-column">
                        Row Number
                    </div>
                    <div class="table-column">
                        conservation-area 
                    </div>
                    <div class="table-column">
                        categories
                    </div>
                    <div class="table-column">
                        documentation-url
                    </div>
                    <div class="table-column">
                        entity
                    </div>
                    <div class="table-column">
                        geometry
                    </div>
                    <div class="table-column">
                        legislation
                    </div>
                    <div class="table-column">
                        name
                    </div>
                    <div class="table-column">
                        notes
                    </div>
                    <div class="table-column">
                        organisation
                    </div>
                    <div class="table-column">
                        point
                    </div>
                    <div class="table-column">
                        prefix
                    </div>
                    <div class="table-column">
                        reference
                    </div>
                    <div class="table-column">
                        entry-date
                    </div>
                    <div class="table-column">
                        start-date
                    </div>
                    <div class="table-column">
                        end-date
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-column">
                        Row Number
                    </div>
                    <div class="table-column">
                        conservation-area 
                    </div>
                    <div class="table-column">
                        categories
                    </div>
                    <div class="table-column">
                        documentation-url
                    </div>
                    <div class="table-column">
                        entity
                    </div>
                    <div class="table-column">
                        geometry
                    </div>
                    <div class="table-column">
                        legislation
                    </div>
                    <div class="table-column">
                        name
                    </div>
                    <div class="table-column">
                        notes
                    </div>
                    <div class="table-column">
                        organisation
                    </div>
                    <div class="table-column">
                        point
                    </div>
                    <div class="table-column">
                        prefix
                    </div>
                    <div class="table-column">
                        reference
                    </div>
                    <div class="table-column">
                        entry-date
                    </div>
                    <div class="table-column">
                        start-date
                    </div>
                    <div class="table-column">
                        end-date
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-column">
                        Row Number
                    </div>
                    <div class="table-column">
                        conservation-area 
                    </div>
                    <div class="table-column">
                        categories
                    </div>
                    <div class="table-column">
                        documentation-url
                    </div>
                    <div class="table-column">
                        entity
                    </div>
                    <div class="table-column">
                        geometry
                    </div>
                    <div class="table-column">
                        legislation
                    </div>
                    <div class="table-column">
                        name
                    </div>
                    <div class="table-column">
                        notes
                    </div>
                    <div class="table-column">
                        organisation
                    </div>
                    <div class="table-column">
                        point
                    </div>
                    <div class="table-column">
                        prefix
                    </div>
                    <div class="table-column">
                        reference
                    </div>
                    <div class="table-column">
                        entry-date
                    </div>
                    <div class="table-column">
                        start-date
                    </div>
                    <div class="table-column">
                        end-date
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-column">
                        Row Number
                    </div>
                    <div class="table-column">
                        conservation-area 
                    </div>
                    <div class="table-column">
                        categories
                    </div>
                    <div class="table-column">
                        documentation-url
                    </div>
                    <div class="table-column">
                        entity
                    </div>
                    <div class="table-column">
                        geometry
                    </div>
                    <div class="table-column">
                        legislation
                    </div>
                    <div class="table-column">
                        name
                    </div>
                    <div class="table-column">
                        notes
                    </div>
                    <div class="table-column">
                        organisation
                    </div>
                    <div class="table-column">
                        point
                    </div>
                    <div class="table-column">
                        prefix
                    </div>
                    <div class="table-column">
                        reference
                    </div>
                    <div class="table-column">
                        entry-date
                    </div>
                    <div class="table-column">
                        start-date
                    </div>
                    <div class="table-column">
                        end-date
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>