{% from "tableRow.html" import tableRow %}
{% from "mapLeaflet.html" import dlLeafletMap %}

<html>
    <head>
        <link rel="stylesheet" href="/static/stylesheets/application.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
        crossorigin=""></script>
        <script>

            const calculateCentreAndBounds = (point1, point2) => {
                let x = (parseInt(point1[0]) + parseInt(point2[0])) / 2
                let y = (parseInt(point1[1]) + parseInt(point2[1])) / 2

                let bounds = `[[${point1}], [${point2}]]`

                return [`[${x},${y}]`, bounds]
            }

            let map;

            const initMap = () => {
                map = L.map('map-1', {
                    attributionControl: false,
                    zoomControl: false,
                    dragging: false,
                    scrollWheelZoom: 'center'
                })

                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);
                console.log(geometries);

                for(geom of geometries){
                    var polygon = L.geoJSON(
                        {
                            "type": "Polygon",
                            "coordinates": JSON.parse(geom.area)
                        }).addTo(map);
                }

                changeView(currentIndex)
            }

            let currentIndex = 0;

            const changeView = (index) => {
                console.log(':: ' + index)
                if(index >= geometries.length){
                    index = 0
                }
                if(index < 0){
                    index = geometries.length - 1
                }
                console.log('fitting bounds to ' + index)
                map.fitBounds(JSON.parse(geometries[index].bounds), {animate: true, duration: 0.5})
                currentIndex = index;
            }

            const geometry = (area, point, bounds, outsideUK) => {
                return {
                    area,
                    point,
                    bounds,
                    outsideUK,
                }
            }

        </script>
    </head>
    <body>
        <div id="map-1" style="height: 600px;"></div>
        <button onclick="changeView(currentIndex + 1)">
            Prev
        </button>
        <button onclick="changeView(currentIndex - 1)">
            Next
        </button>
        <script>
            const geometries = [];
        </script>
        {% for row in dataPoints %}
            <script>
                geometries.push(
                    geometry(
                        "{{row['attributes']['Geometry']}}",
                        "{{row['attributes']['Point']}}",
                        "{{row['mapData']['bounds']}}",
                        "{{row['mapData']['outsideUk']}}"
                    )
                )
            </script>
        {% endfor %}
        <script>
            initMap()
        </script>
    </body>
</html>
